<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="weixinSendto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="weixinSendto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <weixinSendto.Properties.Settings>
            <setting name="isDebug" serializeAs="String">
                <value>False</value>
            </setting>
        </weixinSendto.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <weixinSendto.Properties.Settings>
            <setting name="pointCount" serializeAs="String">
                <value>5,6,14,15,10,11,9,9,9,14,14,9</value>
            </setting>
        </weixinSendto.Properties.Settings>
    </userSettings>
</configuration>