<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="weixinSendto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <weixinSendto.Properties.Settings>
            <setting name="isDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pointCount" serializeAs="String">
                <value>4,8,9,21,22,10,8,25,9,15,9,21,11,15,23,16</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="dx" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="dy" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="imgWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="imgHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="search_x" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="search_y" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="sendbtn_x" serializeAs="String">
                <value>470</value>
            </setting>
            <setting name="sendbtn_y" serializeAs="String">
                <value>540</value>
            </setting>
        </weixinSendto.Properties.Settings>
    </applicationSettings>
</configuration>